reentry >= 1.3.1
six >= 1.16.0
numpy >= 1.17.5
ase >= 3.19
aiida-crystal-dft @ git+https://github.com/tilde-lab/aiida-crystal-dft
yascheduler >= 1.0.12
jsonschema <= 3.2.0
# This may cause troubles when aiida-phonopy finally updates its phonopy based code.
# But for now it's the only way to ensure compatibility.
phonopy == 2.19.1 
aiida-phonopy >= 1.2.0
aiida-fleur >= 2.0.0